body {
      font-family: Arial;
      padding: 20px;
    }
    .section {
      margin-bottom: 40px;
    }
    .slider-box {
      width: 300px;
      margin-top: 10px;
    }
    .carousel img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
/*we use following notation for refering tags,classes,ID in CSS as well as JQuery
.class  --> for class
#id     --> for ID
tag     --> for tag
Sytanx Reference for Jquery 
$(document).ready(function(){
        // jQuery code goes here
    });
For CSS Refering
selector {
        property: value;
*/